<a href="https://colab.research.google.com/github/Jatingpt/Python-tuple-sets-and-etc./blob/main/Copy_of_Untitled71.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#TUPLE- Tuples are the collection of ordered and un-mutable data.
#Once created can't be changed.
#Separated by comma(,)
#No such brackets are mandatory but we are using paranthesis for understanding.
#Multiple datatypes can be written in a tuple.

In [1]:
#e.g
a = "apple", "banana", "cherry"
print(a)

('apple', 'banana', 'cherry')

In [2]:
print(type(a))

<class 'tuple'>

In [7]:
#Slicing in tuple.
a = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(a[:])

print(a[::-1]) #for reverse

print(a[-5:-1])

print(a[-3:1:-1])

('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')
('mango', 'melon', 'kiwi', 'orange', 'cherry', 'banana', 'apple')
('cherry', 'orange', 'kiwi', 'melon')
('kiwi', 'orange', 'cherry')

In [8]:
###Iteration

In [9]:
a = ("Vivo", "realme", "samsung", "oneplus")
for i in a:
  print(i)

Vivo
realme
samsung
oneplus

In [12]:
#Iteration along with range in for loop.
a = ("Vivo", "realme", "samsung", "oneplus")
for i in range(len(a)):
  print(a[i])

Vivo
realme
samsung
oneplus

In [14]:
#Iteration using while loop.
i = 0
a = ("Vivo", "realme", "samsung", "oneplus")
while i<len(a):
  print(a[i])
  i+=1

Vivo
realme
samsung
oneplus

In [26]:
#Conversion of tuples and tuple functions.
a = ("Vivo", "realme", "samsung", "oneplus")
a = list(a)
print(a)

print(type(a))

a.append("Redmi")
print(a)

a = tuple(a)
print(a)
print(type(a))


#Here tuples can't be changed so, we are converting a tuple into a list and then added whatever we wanted to add.
#Then again converted into the tuple.


#Count Method- Counting the specified element that how many time the element is repeating.

print(a.count("Redmi"))

#Indexing in tuple- It will give the rank of the specified value which we wanted to find.
print(a.index("samsung"))

['Vivo', 'realme', 'samsung', 'oneplus']
<class 'list'>
['Vivo', 'realme', 'samsung', 'oneplus', 'Redmi']
('Vivo', 'realme', 'samsung', 'oneplus', 'Redmi')
<class 'tuple'>
1
2

In [ ]:
                                                          #PROBLEMS OF TUPLE.