<a href="https://colab.research.google.com/github/Jatingpt/Python-tuple-sets-and-etc./blob/main/Copy_of_Untitled71.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#TUPLE- Tuples are the collection of ordered and un-mutable data.
#Once created can't be changed.
#Separated by comma(,)
#No such brackets are mandatory but we are using paranthesis for understanding.
#Multiple datatypes can be written in a tuple.

In [ ]:
#e.g
a = "apple", "banana", "cherry"
print(a)

('apple', 'banana', 'cherry')

In [ ]:
print(type(a))

<class 'tuple'>

In [ ]:
#Slicing in tuple.
a = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(a[:])

print(a[::-1]) #for reverse

print(a[-5:-1])

print(a[-3:1:-1])

('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')
('mango', 'melon', 'kiwi', 'orange', 'cherry', 'banana', 'apple')
('cherry', 'orange', 'kiwi', 'melon')
('kiwi', 'orange', 'cherry')

In [ ]:
###Iteration

In [ ]:
a = ("Vivo", "realme", "samsung", "oneplus")
for i in a:
  print(i)

Vivo
realme
samsung
oneplus

In [ ]:
#Iteration along with range in for loop.
a = ("Vivo", "realme", "samsung", "oneplus")
for i in range(len(a)):
  print(a[i])

Vivo
realme
samsung
oneplus

In [ ]:
#Iteration using while loop.
i = 0
a = ("Vivo", "realme", "samsung", "oneplus")
while i<len(a):
  print(a[i])
  i+=1

Vivo
realme
samsung
oneplus

In [ ]:
#Conversion of tuples and tuple functions.
a = ("Vivo", "realme", "samsung", "oneplus")
a = list(a)
print(a)

print(type(a))

a.append("Redmi")
print(a)

a = tuple(a)
print(a)
print(type(a))


#Here tuples can't be changed so, we are converting a tuple into a list and then added whatever we wanted to add.
#Then again converted into the tuple.


#Count Method- Counting the specified element that how many time the element is repeating.

print(a.count("Redmi"))

#Indexing in tuple- It will give the rank of the specified value which we wanted to find.
print(a.index("samsung"))

['Vivo', 'realme', 'samsung', 'oneplus']
<class 'list'>
['Vivo', 'realme', 'samsung', 'oneplus', 'Redmi']
('Vivo', 'realme', 'samsung', 'oneplus', 'Redmi')
<class 'tuple'>
1
2

In [ ]:
                                                          #PROBLEMS OF TUPLE.

#1. Convert the following dictionary into JSON format.
#2. Access the value age from the given data.
#3. Pretty printing following JSON data.


#Sol1
Student_data = {"name": "John", "age": 24, "marks": 87}
import json

print(type(Student_data))

data = json.dumps(Student_data)

print(type(data))
print(data)

#Sol2

Student_data = '{"name": "John", "age": 24, "marks": 87}'
import json

data = json.loads(Student_data)   #Here we should make sure that the data should be in string format otherwise it will through error.
print(data["age"])

<class 'dict'>
<class 'str'>
{"name": "John", "age": 24, "marks": 87}
24

In [ ]:
#Sol3- sorting in JSON and writing in a file.
Student_data = {"name": "John", "age": 24, "marks": 87}

f = open("demo.json", "w")

data = json.dumps(Student_data, indent = 4, sort_keys= True)

f.write(data)

print("The data has been added to the file.")

The data has been added to the file.

In [ ]:
                                                            #INTRODUCTION TO DICTIONARY.


#Dictionary allows the user to write the data in the form of keys and values format.
#It is enclosed by curly brackets.
#Keys and values are separated by colon.
#keys and values both are separated by comma(,).
#Indexing can be done with the help of keys.

#e.g
employee = {"Name": "Akhilesh", "Age":32, "Gender": "Male"}
print(employee)

{'Name': 'Akhilesh', 'Age': 32, 'Gender': 'Male'}

In [ ]:
#Indexing
print(employee["Gender"])

Male

In [ ]:
                                                       #Iteration in dictionary.

In [2]:
student = {"name": "Rashi", "age": 34, "roll no": 23, "gender": "female"}
for x in student:
  print(x)

#Here we can find the keys by applying this syntax.

#for values.

for x in student:
  print(student[x])

name
age
roll no
gender
Rashi
34
23
female

In [3]:
#We can also find the values by using values methodd.
for x in student.values():
  print(x)

Rashi
34
23
female

In [4]:
#For both keys and value we can apply the items function.
for x,y in student.items():
  print(x,y)

name Rashi
age 34
roll no 23
gender female

In [12]:
#There are some other functions in the dictionary like- get, copy, key, values, items.

#1. GET FUNC
student = {"name": "Rashi", "age": 34, "roll no": 23, "gender": "female"}
a = student.get("name")
print(a)

#also by
print(student.get("name"))

#2. COPY FUNC

data = student.copy()
print(data)

#3. keys func

print(student.keys())

#4. Values func

print(student.values())

#5. Items func

print(student.items())

Rashi
Rashi
{'name': 'Rashi', 'age': 34, 'roll no': 23, 'gender': 'female'}
dict_keys(['name', 'age', 'roll no', 'gender'])
dict_values(['Rashi', 34, 23, 'female'])
dict_items([('name', 'Rashi'), ('age', 34), ('roll no', 23), ('gender', 'female')])

In [16]:
#Some other functions of dictionaries are- Set default, update, pop, popitem and clear.
student = {"name": "Rashi", "age": 34, "roll no": 23, "gender": "female"}

#1. Set default- This function will not let the change the data.

a = student.setdefault("roll no",33)
print(a)                                     #Here still the roll no is 23

23

In [22]:
                                                        #Nested Dictionary.

#A dictionary under a dictionary called the nested dictionary.
#e.g

employee = {1:{"name": "Leon", "age":45, "gender": "male"},
            2:{"name": "Lisa", "age":43, "gender": "female"}}

#How can we find anything from the nested dictionary.
print(employee[2]["age"])
print(employee[1])
print(employee[1]["name"])

43
{'name': 'Leon', 'age': 45, 'gender': 'male'}
Leon

In [1]:
#Problem Solving.

#1. Write a python program to sort a dictionary by value.
#2. Write a python script to print a dictionary where the keys are the numbers between 1 and 15 and the values are their square.
#3. write a program to multiply all the items of the dictionary.
#4. write a python program to sort a dictionary by key.

In [33]:
#1st sol
a = {"a":2, "b":1, "c":3, "d":4}
a = sorted(a.values())
print(a)



a = {"b":1, "a":2, "c":3, "d":4}
b = sorted(a)
print(b)

[1, 2, 3, 4]
['a', 'b', 'c', 'd']

In [38]:
#2nd sol
a = {}
for i in range(1,16):
  a[i]= i**2
print(a)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [42]:
#3rd sol- to multiply all the items in a dictionary.
a = {"a":1, "b":2, "c":3, "d":4}
product = 1
for i in a:
  product *= a[i]
print(product)

24

In [2]:
#Sol4
a = {"b":1, "a":2, "c":3, "d":4}
b = sorted(a)
print(b)

#or

a =sorted(a.keys())
print(a)

['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd']

In [3]:
                                                #Introduction to sets.
#Sets are the unordered collection of mutable data. Every element in a set is unique.
#Written by curly brackets and separated by comma(,).

In [4]:
a = {"Ironman", "Thor", "Hulk", "Captain America"}
print(a)

{'Thor', 'Captain America', 'Ironman', 'Hulk'}

In [16]:
#Set functions- Add, pop, remove, discard, copy.

a.add("Spiderman")
print(a)

{'Spiderman', 'Ironman', 'Captain America', 'Thor', 'Hulk'}

In [14]:
a = {"Ironman", "Thor", "Hulk", "Captain America"}
for x in a:
   print(x)

print(type(a))

Captain America
Thor
Ironman
Hulk
<class 'set'>

In [21]:
#pop method
a = {"Ironman", "Thor", "Hulk", "Captain America"}
a.pop()
print(a)

{'Thor', 'Ironman', 'Hulk'}

In [22]:
#pop method
a = {"Ironman", "Thor", "Hulk", "Captain America"}
a.pop()
print(a)

{'Thor', 'Ironman', 'Hulk'}

In [23]:
#Remove method.
a = {"Ironman", "Thor", "Hulk", "Captain America"}
a.remove("Hulk")
print(a)

{'Captain America', 'Thor', 'Ironman'}

In [24]:
#Discard method.
a = {"Ironman", "Thor", "Hulk", "Captain America"}
a.discard("Hulk")
print(a)

{'Captain America', 'Thor', 'Ironman'}

In [25]:
#Copy
a = {"Ironman", "Thor", "Hulk", "Captain America"}
b = a.copy()
print(b)

{'Captain America', 'Thor', 'Ironman', 'Hulk'}