<a href="https://colab.research.google.com/github/Jatingpt/Python-tuple-sets-and-etc./blob/main/Copy_of_Untitled71.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#TUPLE- Tuples are the collection of ordered and un-mutable data.
#Once created can't be changed.
#Separated by comma(,)
#No such brackets are mandatory but we are using paranthesis for understanding.
#Multiple datatypes can be written in a tuple.

In [ ]:
#e.g
a = "apple", "banana", "cherry"
print(a)

('apple', 'banana', 'cherry')

In [ ]:
print(type(a))

<class 'tuple'>

In [ ]:
#Slicing in tuple.
a = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(a[:])

print(a[::-1]) #for reverse

print(a[-5:-1])

print(a[-3:1:-1])

('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')
('mango', 'melon', 'kiwi', 'orange', 'cherry', 'banana', 'apple')
('cherry', 'orange', 'kiwi', 'melon')
('kiwi', 'orange', 'cherry')

In [ ]:
###Iteration

In [ ]:
a = ("Vivo", "realme", "samsung", "oneplus")
for i in a:
  print(i)

Vivo
realme
samsung
oneplus

In [ ]:
#Iteration along with range in for loop.
a = ("Vivo", "realme", "samsung", "oneplus")
for i in range(len(a)):
  print(a[i])

Vivo
realme
samsung
oneplus

In [ ]:
#Iteration using while loop.
i = 0
a = ("Vivo", "realme", "samsung", "oneplus")
while i<len(a):
  print(a[i])
  i+=1

Vivo
realme
samsung
oneplus

In [ ]:
#Conversion of tuples and tuple functions.
a = ("Vivo", "realme", "samsung", "oneplus")
a = list(a)
print(a)

print(type(a))

a.append("Redmi")
print(a)

a = tuple(a)
print(a)
print(type(a))


#Here tuples can't be changed so, we are converting a tuple into a list and then added whatever we wanted to add.
#Then again converted into the tuple.


#Count Method- Counting the specified element that how many time the element is repeating.

print(a.count("Redmi"))

#Indexing in tuple- It will give the rank of the specified value which we wanted to find.
print(a.index("samsung"))

['Vivo', 'realme', 'samsung', 'oneplus']
<class 'list'>
['Vivo', 'realme', 'samsung', 'oneplus', 'Redmi']
('Vivo', 'realme', 'samsung', 'oneplus', 'Redmi')
<class 'tuple'>
1
2

In [47]:
                                                          #PROBLEMS OF TUPLE.

#1. Convert the following dictionary into JSON format.
#2. Access the value age from the given data.
#3. Pretty printing following JSON data.


#Sol1
Student_data = {"name": "John", "age": 24, "marks": 87}
import json

print(type(Student_data))

data = json.dumps(Student_data)

print(type(data))
print(data)

#Sol2

Student_data = '{"name": "John", "age": 24, "marks": 87}'
import json

data = json.loads(Student_data)   #Here we should make sure that the data should be in string format otherwise it will through error.
print(data["age"])

<class 'dict'>
<class 'str'>
{"name": "John", "age": 24, "marks": 87}
24

In [48]:
#Sol3- sorting in JSON and writing in a file.
Student_data = {"name": "John", "age": 24, "marks": 87}

f = open("demo.json", "w")

data = json.dumps(Student_data, indent = 4, sort_keys= True)

f.write(data)

print("The data has been added to the file.")

The data has been added to the file.

In [49]:
                                                            #INTRODUCTION TO DICTIONARY.


#Dictionary allows the user to write the data in the form of keys and values format.
#It is enclosed by curly brackets.
#Keys and values are separated by colon.
#keys and values both are separated by comma(,).
#Indexing can be done with the help of keys.

#e.g
employee = {"Name": "Akhilesh", "Age":32, "Gender": "Male"}
print(employee)

{'Name': 'Akhilesh', 'Age': 32, 'Gender': 'Male'}

In [50]:
#Indexing
print(employee["Gender"])

Male

In [ ]:
                                                       #Iteration in dictionary.