<a href="https://colab.research.google.com/github/Jatingpt/Python-tuple-sets-and-etc./blob/main/Copy_of_Untitled71.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#TUPLE- Tuples are the collection of ordered and un-mutable data.
#Once created can't be changed.
#Separated by comma(,)
#No such brackets are mandatory but we are using paranthesis for understanding.
#Multiple datatypes can be written in a tuple.

In [ ]:
#e.g
a = "apple", "banana", "cherry"
print(a)

('apple', 'banana', 'cherry')

In [ ]:
print(type(a))

<class 'tuple'>

In [ ]:
#Slicing in tuple.
a = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(a[:])

print(a[::-1]) #for reverse

print(a[-5:-1])

print(a[-3:1:-1])

('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')
('mango', 'melon', 'kiwi', 'orange', 'cherry', 'banana', 'apple')
('cherry', 'orange', 'kiwi', 'melon')
('kiwi', 'orange', 'cherry')

In [ ]:
###Iteration

In [ ]:
a = ("Vivo", "realme", "samsung", "oneplus")
for i in a:
  print(i)

Vivo
realme
samsung
oneplus

In [ ]:
#Iteration along with range in for loop.
a = ("Vivo", "realme", "samsung", "oneplus")
for i in range(len(a)):
  print(a[i])

Vivo
realme
samsung
oneplus

In [ ]:
#Iteration using while loop.
i = 0
a = ("Vivo", "realme", "samsung", "oneplus")
while i<len(a):
  print(a[i])
  i+=1

Vivo
realme
samsung
oneplus

In [ ]:
#Conversion of tuples and tuple functions.
a = ("Vivo", "realme", "samsung", "oneplus")
a = list(a)
print(a)

print(type(a))

a.append("Redmi")
print(a)

a = tuple(a)
print(a)
print(type(a))


#Here tuples can't be changed so, we are converting a tuple into a list and then added whatever we wanted to add.
#Then again converted into the tuple.


#Count Method- Counting the specified element that how many time the element is repeating.

print(a.count("Redmi"))

#Indexing in tuple- It will give the rank of the specified value which we wanted to find.
print(a.index("samsung"))

['Vivo', 'realme', 'samsung', 'oneplus']
<class 'list'>
['Vivo', 'realme', 'samsung', 'oneplus', 'Redmi']
('Vivo', 'realme', 'samsung', 'oneplus', 'Redmi')
<class 'tuple'>
1
2

In [ ]:
                                                          #PROBLEMS OF TUPLE.

#1. Convert the following dictionary into JSON format.
#2. Access the value age from the given data.
#3. Pretty printing following JSON data.


#Sol1
Student_data = {"name": "John", "age": 24, "marks": 87}
import json

print(type(Student_data))

data = json.dumps(Student_data)

print(type(data))
print(data)

#Sol2

Student_data = '{"name": "John", "age": 24, "marks": 87}'
import json

data = json.loads(Student_data)   #Here we should make sure that the data should be in string format otherwise it will through error.
print(data["age"])

<class 'dict'>
<class 'str'>
{"name": "John", "age": 24, "marks": 87}
24

In [ ]:
#Sol3- sorting in JSON and writing in a file.
Student_data = {"name": "John", "age": 24, "marks": 87}

f = open("demo.json", "w")

data = json.dumps(Student_data, indent = 4, sort_keys= True)

f.write(data)

print("The data has been added to the file.")

The data has been added to the file.

In [ ]:
                                                            #INTRODUCTION TO DICTIONARY.


#Dictionary allows the user to write the data in the form of keys and values format.
#It is enclosed by curly brackets.
#Keys and values are separated by colon.
#keys and values both are separated by comma(,).
#Indexing can be done with the help of keys.

#e.g
employee = {"Name": "Akhilesh", "Age":32, "Gender": "Male"}
print(employee)

{'Name': 'Akhilesh', 'Age': 32, 'Gender': 'Male'}

In [ ]:
#Indexing
print(employee["Gender"])

Male

In [ ]:
                                                       #Iteration in dictionary.

In [ ]:
student = {"name": "Rashi", "age": 34, "roll no": 23, "gender": "female"}
for x in student:
  print(x)

#Here we can find the keys by applying this syntax.

#for values.

for x in student:
  print(student[x])

name
age
roll no
gender
Rashi
34
23
female

In [ ]:
#We can also find the values by using values methodd.
for x in student.values():
  print(x)

Rashi
34
23
female

In [ ]:
#For both keys and value we can apply the items function.
for x,y in student.items():
  print(x,y)

name Rashi
age 34
roll no 23
gender female

In [ ]:
#There are some other functions in the dictionary like- get, copy, key, values, items.

#1. GET FUNC
student = {"name": "Rashi", "age": 34, "roll no": 23, "gender": "female"}
a = student.get("name")
print(a)

#also by
print(student.get("name"))

#2. COPY FUNC

data = student.copy()
print(data)

#3. keys func

print(student.keys())

#4. Values func

print(student.values())

#5. Items func

print(student.items())

Rashi
Rashi
{'name': 'Rashi', 'age': 34, 'roll no': 23, 'gender': 'female'}
dict_keys(['name', 'age', 'roll no', 'gender'])
dict_values(['Rashi', 34, 23, 'female'])
dict_items([('name', 'Rashi'), ('age', 34), ('roll no', 23), ('gender', 'female')])

In [ ]:
#Some other functions of dictionaries are- Set default, update, pop, popitem and clear.
student = {"name": "Rashi", "age": 34, "roll no": 23, "gender": "female"}

#1. Set default- This function will not let the change the data.

a = student.setdefault("roll no",33)
print(a)                                     #Here still the roll no is 23

23

In [ ]:
                                                        #Nested Dictionary.

#A dictionary under a dictionary called the nested dictionary.
#e.g

employee = {1:{"name": "Leon", "age":45, "gender": "male"},
            2:{"name": "Lisa", "age":43, "gender": "female"}}

#How can we find anything from the nested dictionary.
print(employee[2]["age"])
print(employee[1])
print(employee[1]["name"])

43
{'name': 'Leon', 'age': 45, 'gender': 'male'}
Leon

In [ ]:
#Problem Solving.

#1. Write a python program to sort a dictionary by value.
#2. Write a python script to print a dictionary where the keys are the numbers between 1 and 15 and the values are their square.
#3. write a program to multiply all the items of the dictionary.
#4. write a python program to sort a dictionary by key.

In [ ]:
#1st sol
a = {"a":2, "b":1, "c":3, "d":4}
a = sorted(a.values())
print(a)



a = {"b":1, "a":2, "c":3, "d":4}
b = sorted(a)
print(b)

[1, 2, 3, 4]
['a', 'b', 'c', 'd']

In [ ]:
#2nd sol
a = {}
for i in range(1,16):
  a[i]= i**2
print(a)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [ ]:
#3rd sol- to multiply all the items in a dictionary.
a = {"a":1, "b":2, "c":3, "d":4}
product = 1
for i in a:
  product *= a[i]
print(product)

24

In [ ]:
#Sol4
a = {"b":1, "a":2, "c":3, "d":4}
b = sorted(a)
print(b)

#or

a =sorted(a.keys())
print(a)

['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd']

In [ ]:
                                                #Introduction to sets.
#Sets are the unordered collection of mutable data. Every element in a set is unique.
#Written by curly brackets and separated by comma(,).

In [ ]:
a = {"Ironman", "Thor", "Hulk", "Captain America"}
print(a)

{'Thor', 'Captain America', 'Ironman', 'Hulk'}

In [ ]:
#Set functions- Add, pop, remove, discard, copy.

a.add("Spiderman")
print(a)

{'Spiderman', 'Ironman', 'Captain America', 'Thor', 'Hulk'}

In [ ]:
a = {"Ironman", "Thor", "Hulk", "Captain America"}
for x in a:
   print(x)

print(type(a))

Captain America
Thor
Ironman
Hulk
<class 'set'>

In [ ]:
#pop method
a = {"Ironman", "Thor", "Hulk", "Captain America"}
a.pop()
print(a)

{'Thor', 'Ironman', 'Hulk'}

In [ ]:
#pop method
a = {"Ironman", "Thor", "Hulk", "Captain America"}
a.pop()
print(a)

{'Thor', 'Ironman', 'Hulk'}

In [ ]:
#Remove method.
a = {"Ironman", "Thor", "Hulk", "Captain America"}
a.remove("Hulk")
print(a)

{'Captain America', 'Thor', 'Ironman'}

In [ ]:
#Discard method.
a = {"Ironman", "Thor", "Hulk", "Captain America"}
a.discard("Hulk")
print(a)

{'Captain America', 'Thor', 'Ironman'}

In [ ]:
#Copy
a = {"Ironman", "Thor", "Hulk", "Captain America"}
b = a.copy()
print(b)

{'Captain America', 'Thor', 'Ironman', 'Hulk'}

In [ ]:
#Other 5 functions of sets- isdisjoint, issubset, issuperset, clear and update function.

In [ ]:
#isdisjoint function- It will check the elements of set b is present into set a or not. if not then 'True' else 'False'.
a = {1, 2, 3, 4, 5}
b = {6, 7, 8}
c = {2, 3}

print(a.isdisjoint(b))

True

In [ ]:
#issubset- Check if the elements of set b is present in set a or not.
a = {1, 2, 3, 4, 5}
b = {6, 7, 8}
c = {2, 3}

print(c.issubset(a)) #because all the elements of c is present in a but in second case all the elements of a is not present in c.
print(a.issubset(c))

True
False

In [ ]:
print(a.issuperset(b))

False

In [ ]:
#issuperset function- Will True if all the elements of a set is present in the other set else false.

a = {1, 2, 3, 4, 5}
b = {6, 7, 8}
c = {2, 3}

print(c.issuperset(a)) #c is not a superset of a because here c is not carrying all the elements of a.

print(a.issuperset(c)) #True because a is carrying all the element of c.

False
True

In [ ]:
#Update func- It is basically behaves as a 'UNION' means it will give all the unique elements of both the set without repeating the elements.
a = {1, 2, 3, 4, 5}
b = {6, 7, 8}
c = {2, 3, 7}

a.update(c)
print(a)

{1, 2, 3, 4, 5, 7}

In [ ]:
#clear func- It will clear the whole set. In simple terms it will do clear all the elements of the set and gives you an empty set.
a = {1, 2, 3, 4, 5}
b = {6, 7, 8}
c = {2, 3}
x  = a.clear()
print(x)
print(a)

#or

print(a.clear())
print(a)

None
set()
None
set()

In [ ]:
#7 Other functions of sets.
#Union, difference, difference update, intersection, intersection update, symmetric, symmetric update.

#Union func

a = {1, 2, 3, 4, 5}
b = {6, 7, 8}
c = {2, 3}

print(a.union(b))  #Will provide all the unique elements of both the sets.

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
#difference func- It will give you the difference of the set.

print(a.difference(c))  #will remove the common elements and results will only be the unique elements.

{1, 4, 5}

In [ ]:
#difference update- Will give the update in the difference in the orignal set.
a.difference_update(c)
print(a)

{1, 4, 5}

In [ ]:
#Intersection func- Results with the common value.

a = {1, 2, 3, 4, 5}
c = {2, 3}

print(a.intersection(c))

{2, 3}

In [ ]:
#intersection update- will give the intersection in the original set.
a = {1, 2, 3, 4, 5}
c = {2, 3}

a.intersection_update(c)
print(a)

{2, 3}

In [ ]:
#symmetric function- the common element or symmetric elements from the sets will remove and rests are the results.
#In simple terms, that symmetric difference will completely ignore the common values.
a = {1, 2, 3, 4, 5, 6}
b = {6, 7, 8}
c = {2, 3}

print(a.symmetric_difference(b))


print(a.symmetric_difference(c))

{1, 2, 3, 4, 5, 7, 8}
{1, 4, 5, 6}

In [ ]:
#symmetric difference update- will gives changes in the original set.
#As we know that it will remove the common elements from one set to another sets.
a = {1, 2, 3, 4, 5, 6}
b = {6, 7, 8}
c = {2, 3}

a.symmetric_difference_update(b)
print(a)

a.symmetric_difference_update(c)
print(a)

{1, 2, 3, 4, 5, 7, 8}
{1, 4, 5, 7, 8}

In [ ]:
                                                  #Problem solving
#1. Write a program to find max and minimum in the set.
#2. Write a program to find common elements in three lists using sets.
#3. Write a program to find the difference in two sets.
#4. Write a python program to remove an item in a set if it is present in the set.
#5. Write a program to check if a set is the subset of another set.

In [ ]:
#Sol1.
a = {1, 2, 3, 4, 5}

b= max(a)
c = min(a)

print("The maximum value in set a is", b)

print("The minimum value in the given set is",c)

The maximum value in set a is 5
The minimum value in the given set is 1

In [ ]:
#Sol2
a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]
c = [2, 3, 4, 5]

a = set(a)
b = set(b)
c = set(c)

print(set(a) & set(b) & set(c))

{5}

In [ ]:
#Sol3
a = {1, 2, 3, 4, 5, 6}
b = {6, 7, 8}
c = {2, 3}

print(a.difference(b))

{1, 2, 3, 4, 5}

In [ ]:
#Sol4
a = {1, 2, 3, 4, 5}

a.remove(5)
print(a)

{1, 2, 3, 4}

In [ ]:
#Sol5

a = {1, 2, 3, 4, 5}
b = {6, 7, 8}
c = {2, 3}

print(c.issubset(a))

True

In [ ]:
                                                 #Functions
#Functions are a set of code, which once created then can be used throughout the program.
#e.g to create a function

def hello():   #hello() is a variable here which we will use to call the function.
  print("Hello World")           #Body which we wanted to perform in the function.

hello()                      #Calling function

Hello World

In [ ]:
def add():
  x = 23
  y = 34
  print(x+y)

add()

57

In [ ]:
                                  #Parameters and arguments in a function.
#Parameters- Parameters are the variables that is written inside the parantheses with the name of function.

#Arguments - Arguments are the values passed in the parameters while calling the function.

def add():
  x = 23                       #Here x and y are the parameters and arguments will use while we will call the function. see in the next example
  y = 34
  print(x+y)

add()


def add(x,y):                      #Here x and y are the parameters.
  print(x+y)                       #Function which we want to perform on parameters.

add(44,7)                           #passing the arguments between or with the parameters with the help of function will perform.


add(34,34)

add(34,84)                       #So on and so forth



#Parameters are used when we wanted to define a function while arguments are used while calling the function.

57
51
68
118

In [ ]:
#Creating a function which will calculate the area of rectangle.

def rect(length, breath):
  print("The area of the rectangle is", length*breath)

rect(3, 4)


rect(4,5)

The area of the rectangle is 12
The area of the rectangle is 20

In [ ]:
#What is arbitary arguments?
#Arbitary arguments are the arguments where we can provide multiple values in the form of tuple. And we can access with the index method.
#we are using a star(*) in the variable while defing the parameters. e.g

def hello(*name):
  print("My name is", name[2])

hello("Jonny", "Lisa", "Peter")

My name is Peter

In [ ]:
                                        #Return Statement and Recursion in python.

In [ ]:
#Return keyword in python is used to exit a function and return the value of the function.

#In simple we are passing the parameters in return's parantheses. other thing is as same as the normal function. e.g

def hello():
  return("Hello World, i am the best.")

print(hello())                      #Here, we have to use print statement while execution is with return function. more e.g in next

Hello World, i am the best.

In [ ]:
def add(x,y):
  return(x+y)

print(add(23,53))

76

In [ ]:
                                            #Recursion
#Recursion is a function can call itself for many times. Basically giving a benefit of looping.

In [ ]:
def hello():
  print("Hello World")
  return (hello())
print(hello())

In [ ]:
#Getting the value of factorial with the help of recursion.

def fact(n):
  if n == 1:
    return 1
  else:
    return(n*fact(n-1))
fact(3)

6

In [ ]:
fact(4)

24

In [ ]:
#Advantages of recursion- They make the code look clean and organised.
#--> By the use of recursive functions, a complex task can be broken down into small sub-parts.
#--> Sequence generation becomes easier.



#Disadvantages of recursion- Takes a lot of memory.
#--> Sometimes the logic becomes hard to follow.
#--> Debugging is difficult.

In [ ]:
#Lambda function in Python.

#--> It is required when we need an anonymous function for a short period of time.
#--> It can have multiple arguments but can having only one expression.

In [ ]:
#e.g with single arguments.
a = lambda b: b*5
print(a(4))

20

In [ ]:
#e.g with multiple arguments.
x = lambda a,b,c: (a+b)*c
print(x(1,2,3))

9

In [ ]:
#Local variable.
#Local variables are restricted to only one block of code.
#It cannot changed throughout the program.


#Global Variable.
#Global variables are not restricted to one block of code and can be used throught the program.

In [ ]:
#e.g of Local Variable.
x = 23
print("The first variable is", x)
def hello():
  x = 33
  return x
print(hello())

print()

print(x)

The first variable is 23
33

23

In [ ]:
#e.g of Global Variable.

x = 23
print("The first variable of", x)
def hello():
  global x
  x = 33
  return x
print(hello())

print()

print(x)

The first variable of 23
33

33

In [ ]:
                                                                #Problem Solving
#1. Write a function to find maximum of three numbers in Python.

#2. Write a python function to create and print a list where the values are square of numbers between 1 to 30.

#3. Write a function that takes numbers as a parameter and check whether the number is a prime number or not.

#4. Write a python function to sum all the numbers in a list.

#5. Write a python program to solve the fibonacci sequence using recursion.

In [3]:
#Sol1

def max_num(val1, val2, val3):
  if val1>val2 and val1> val3:
    print("Val1 is the greatest number.")
  elif val2>val1 and val2>val3:
    print("Val2 is the greatest.")
  else:
    print("val3 is the greatest.")
max_num(1,2,3)

val3 is the greatest.

In [9]:
#Sol2
def create_list():
  l = []
  for i in range(1,31):
    l.append(i**2)
  return l
create_list()

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900]

In [14]:
#Sol3
def check_prime(num):
  if num == 1:
    print("It is a prime number.")
  elif num == 2:
    print("It is a prime number.")
  if num > 2:
    for i in range(2,num):
      if i % num ==0:
        print("It is not a prime number.")
      else:
        print("It is a prime number.")
check_prime(3)

It is a prime number.

In [28]:
#Sol4- To sum all the number of the list.

def add(numbers):
  total = 0
  for i in numbers:
    total = total + i
  return total

add([1,2,3,])



def add(x,y):
  total = 0
  for i in x,y:
    total = total +i
  return total
print(add(1,2))

3

In [30]:
#Sol5- Fibonacci series using recursion.
def fs(num):
  if num == 1:
    return (0)
  elif num == 2:
    return (1)
  else:
    return (fs(num-1)+ fs(num-2))
print(fs(7))

8